*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: #fff;
}
ul{
    list-style-type: none;
}
li{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 16px 0;
    text-align: center;
}
.fas{
    font-size: 1.3rem;
}
.fa-trash-alt{
    font-size: 1rem;
    color: #fff;
}
.logo a{
    color: black;
}
.layout{
    display: grid;
    grid-template-columns: 1fr 16fr;
    grid-template-areas: 
        'header header'
        'sidebar content'
        'sidebar content'
    ;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    text-align: left;
    padding: 16px 24px;
    grid-area: header;
    background-color: #fff;
    box-shadow: 1px 1px 1px #222;
}
.sidebar{
    position: fixed;
    width: 6vw;
    height: 100vh;
    margin-top: 8vh;
    grid-area: sidebar;
    background-color: #222;
}

.content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding: 8px;
    grid-area: content;
}

.feature{
    float: right;
    cursor: pointer;
    font-size: 2rem;
}
.card-group{
    height: 148px;
    width: 334px;
    background-color: #ddd;
    margin: 8px 8px;
    padding: 8px;
    border-radius: 4px;

}

.card-body{

}

.card-footer{

}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 4% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .post-pdf{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px;
      height: 50vh;
      width: 100%;
      border: 1px solid #eee;
  }
.title-input{
    padding: 8px;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.pdf-upload{
    cursor: pointer;
    border: 1px solid #eee;
    margin: 16px 0;
    padding: 8px;
}
  .btn-submit{
      padding: 8px;
      width: 20%;
      font-family: 'Poppins', sans-serif;
      color: #fff;
      font-size: 1rem;
      background-color: #222;
      border: 0;
      cursor: pointer;
      border-radius: 2px;
  }